{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}

{% load bbcode_tags %}
{% bbcode entry.bbcode_content %}


<link rel="stylesheet" href="{% static 'css/post.css' %}">

<div class="container">
<h1 class='mt-5' style="width=auto">{{ post.title }}</h1>
    {{ post.body.rendered }}
</div>

    {% for comment in post.comments.all %}
        {% if comment.approved_comment %}
       {% include 'blog/comment_detail.html' %}
       {% endif %}
    {% endfor post.comments.all %}

    {% include 'blog/includes/comment_create_template.html' %}

{% endblock content %}
