.admin-panel {
    border: 1px solid #999;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.3;
    padding: 15px;
}

.admin-panel:hover{
    opacity: 1;
}

.admin-panel a{
    margin: 5px 0;
    display: block;
}

a.edit, a.delete{
    display: none;
}

.card.mb-4 {
    background-color: #d3d3d359;
    padding: 10px;
    border-radius: 8px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 4px 4px;
}

.card-footer:last-child {
    border-radius: 4px 4px calc(.25rem - 1px) calc(.25rem - 1px);
}

.col-6 {
    margin: auto;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.comment-count {
    margin-top: 0;
    float: right;
    margin-bottom: 0;
}

/* .panel-body{
  width: 500px;
  margin: auto;
  border: 1px solid #373737;
  border-radius: 5px;
  padding: 2px;
} */

