<form action="{% url 'post_detail_url' post.slug %}" method="post" class="post-form">
 {% csrf_token %}

<ul class="list-group list-group-flush mt-4" style="width: 25rem">
 
<label class="sr-only" for="inlineFormInputGroup">nickname</label>
  <div class="input-group mb-2" style="width: 15rem">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
      {{comment_form.author_name}}
  </div>

  <li class="input-group pb-2 pr-2">
    <div class="input-group-prepend">
      <span class="input-group-text" style="font-size: 8pt">Comment</span>
    </div>
    {{comment_form.text}}
  </li>
</ul>
  <button type="submit" class="btn btn-dark mb-1">Submit</button>
</form>